@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-image: url('../Images/AboutUsBackground.jpg');
    width: 100%;
    margin: 0;
    height: 100vh;
    
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 100px;
}

.content {
    width: 600px;
    height: 600px;
    background-color:   #edf2f4;
    box-shadow: 10px 10px 10px 0px #000000;
    margin:  auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content a{
    text-decoration: none;
    color: black;
    padding-top: 10px;
}
.logos img{
    width: 100px;
    height: auto;

}
.BackToMain{
    margin-top: 50px;
    text-decoration: none;
    color: black;
}
.BackToMain img{
    width: 100px;
    height: auto;
}
.title {
    margin-top: 50px;
}

@media screen and (max-width:768px){
    .content{
        margin-top: 200px;
    }   
}