@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container h1 {
    background-color: #001014;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    box-shadow: 0px 10px 10px 0px #4d4d4d;
}
.addBtn {
    text-align: center;
}
.addBtn a{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}
.tableContainer div{
    margin-bottom: 100px;
}
.users, .products, .emails{
    display: flex;
    flex-direction: column;
}
.users table, .products table, .emails table {
    border-collapse: collapse;
    margin: 25px 0;
    font: 0.9em;
    min-width: 400px;
    table-layout:fixed;
    width:100%;
}
.users thead tr, .emails thead tr{
    background-color: #3A3A38;
    color: #ffff;
    text-align: left;
    font-weight: bold;
    
}
.users table td, .emails table td{
    padding: 12px 15px;
    word-wrap: break-word;
}
.users tbody tr, .emails tbody tr{
    border-bottom: 1px solid #dddddd;
}
.products{
    position: relative;
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    box-shadow: 0 0 8px 0 black;
}
.products a {
    text-decoration: none;
    color: black;
}
.productsContainer{
    border: solid 2px #dddddd;
    padding-top: 50px;

}
.productList {
    font-family: 'Roboto', sans-serif;  
    font-weight: bolder;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px 30px;    
}
.productList img{
    height: 300px;
    width: auto;
}
.productList:hover {
    
    transition: 500ms;
    transform: scale(1.1, 1.1);
}
.deleteAndUpdate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.deleteAndUpdate a {
    width: 100px;
    height: 40px;
    background-color: #0f0f0f;
    color: #dddddd;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 600px){
    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}